.form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 10px;
}

@media (max-width: 767px) {
    .form {
        grid-template-columns: 1fr;
    }
}

.form__input {
    padding: 10px;
    border: 1 px solid #ffffff;
}

.form__button {
    padding: 15px;
    border: none;
    background-color: #2b6777;
    color: #c8d8e4;
    transition-duration: 0.4s;
    text-align: center;
}

.form__button:hover {
    background-color: #c8d8e4 ;
}