html {
    box-sizing: border-box;
}
*, ::after ::before{
    box-sizing: inherit;
}

.body {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    background-color: #e3edf0c0;
    font-family: 'Comfortaa', cursive;
    margin: 20px auto;
};

