.tasks__list {
    background-color: #f6fbfcd8;
    border: 1px solid;
    border-radius: 5px;
    padding: 0;
    margin: 0;
}

.tasks__item {
    list-style: none;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    border-bottom: 1px solid #ddd;
    align-items: center;
    padding: 10px
}

.tasks__item--hidden {
    display: none;
}

.task__content {
    padding: 0 10px;
}

.task__content--done {
    text-decoration: line-through;
}

.js-done {
    background: rgb(0, 64, 116)
}

.js-done:hover {
    background: rgb(29, 119, 192);
}

.js-done:active {
    background: rgb(100, 172, 231);
}

.js-remove {
    background: hsl(348, 83%, 47%)
}

.js-remove:hover {
    background: hsl(348, 83%, 52%);
}

.js-remove:active {
    background: hsl(348, 83%, 57%)
}
